<a href="https://colab.research.google.com/github/abhay43/DL_Code/blob/master/Basic%20Linear%20Regression%20Code%20on%20Boston%20DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear Regression on Boston Dataset

In [40]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [8]:
data =load_boston()

In [23]:
full_data = pd.DataFrame(data['data'], columns=data['feature_names'])

In [25]:
dependent_var = pd.DataFrame(data['target'], columns=['HousePrice'])
full_data = pd.concat([full_data, dependent_var] , axis=1)

In [26]:
full_data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  HousePrice
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98        24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14        21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03        34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94        33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33        36.2

[5 rows x 14 columns]

In [27]:
X = full_data.drop('HousePrice', axis=1)
Y = full_data['HousePrice']

In [35]:
train_x, test_x, train_y, test_y = train_test_split(X, Y, train_size=0.7, random_state = 1 )

In [45]:
model_0 = LinearRegression()
model_0.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [49]:
pd.DataFrame(model_0.coef_, index=X.columns) # this is the value of m1,m2,m3.....

                 0
CRIM     -0.098542
ZN        0.060784
INDUS     0.059172
CHAS      2.439560
NOX     -21.469965
RM        2.795814
AGE       0.003575
DIS      -1.516272
RAD       0.307542
TAX      -0.011280
PTRATIO  -1.005466
B         0.006450
LSTAT    -0.568835

In [50]:
model_0.intercept_ # this is c

46.39649387182328

In [51]:
Y_pred = model_0.predict(test_x)

In [54]:
rmse = np.sqrt(np.mean((test_y - Y_pred)**2))

In [58]:
rmse # this measns that you are off by 4.45 unit in avrage. That is if actual price is 100 
# then your predicted output is 100 +- 4.45 =>  95.55 to 104.45 
# note that this is the average diffrence. That means on an average this is the diffrence.

4.453237437198126

In [60]:
# we can also provide the error in percentage terms  
mape = np.mean(np.abs((test_y - Y_pred)/test_y))

In [61]:
mape # mean absolute percentage error

0.16207536032281447